
 <h3>Registrate para poder seguir en la pagina</h3>
 <form action="/api/register" method="post">
 <br>
 <button><a href="/api/login" > Tengo cuenta </a></button>
  <br><br>
      <label for="nombre">Nombre:</label><br>
      <input type="text" id="nombre" name="nombre"><br>
      <label for="apellido">Apellido</label><br>
      <input type="text" id="apellido" name="apellido"><br><br>
      <label for="email">Email:</label><br>
      <input type="email" id="username" name="username"><br><br>
      <label for="contraseña">contraseña:</label><br>
      <input type="password" id="password" name="password"><br><br>
      
      <button>Registrarme</button>
    </form>